.note {
    text-decoration: underline;
    opacity: 0.8;
    &:hover {
        cursor: pointer;
    }
}

.footnote-container {
    width: 250px;
    border: 2px solid grey;
    padding: 20px;
    position: relative;
    transform: scale(0);
    transition: 0.3s;
    position: absolute;
    transform-origin: top left;
    background-color: #fff;


    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        cursor: pointer;
        &:after {
            content: '';
            width: 15px;
            height: 2px;
            background: #a8a8a8;
            display: block;
            top: 6px;
            position: absolute;
            transform: rotate(45deg);
        }
        &:before {
            content: '';
            width: 15px;
            height: 2px;
            background: #a8a8a8;
            display: block;
            transform: rotate(-45deg);
            top: 6px;
            position: absolute;
        }
    }
}